<html ng-app="uploadApp">
<head>
<meta charset="utf8" />
<title>Document Upload</title>
<link rel="stylesheet" href="styles/bootstrap.min.css">
</head>
<body ng-controller="docController">
	<div class="container">
		<div class="col-md-6">
		<div class="row">
            <h2>Upload Document</h2>
            <table class="table table-bordered">
                <tr>
                	<td>
					  <input type="file" ng-model="fileBase64Model" name="fileBase64" accept=".csv" maxsize="5000" required base-sixty-four-input>
					  <span ng-show="form.fileBase64Model.$error.maxsize">Files must not exceed 5000 KB</span>
                      <button ng-click="uploadBase64()">Upload Bas64 File</button></td>
					<td>					 
                </tr>
                <tr>
					<td><input type="file" class="custom-file-input" file-model="file" name="file"></td>
                </tr>
                <tr>
                    <td><button ng-click="upload()">Upload</button></td>
                </tr>
            </table>
        </div>
            <div class="row">
		        <table class="table table-bordered">
			<thead>
    			<tr>
    				<th>Code</th>
    				<th>Message</th>
    			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="doc in docList">
					<td>{{docList.code}}</td>
					<td>{{docList.message}}</td>
				</tr>
			</tbody>		
		</table>
		</div>
	</div>
    </div>
    <script src="lib/plugin/jquery-2.2.1.min.js"></script>
	<script src="lib/plugin/bootstrap.min.js"></script>
	<script src="lib/plugin/angular.min.js"></script>
    <script src="lib/plugin/angular-base64-upload.min.js"></script>
	<script src="documentService.js"></script>
	<script src="app.js"></script>
</body>
</html>
